@charset "utf-8";
* {
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
body {
    background-image: linear-gradient(to right, #145e3b, #28be78);
    display: flex;
    flex-direction: column;
    height: 100vh;
    counter-reset: chapter;
    text-align: center;
    margin: 0;
}
header {
    background-image: linear-gradient(to right, #09311f 1%, #28be78);
    color: yellow;
    font-variant: small-caps;
    text-align: left;
}
header a {
    text-decoration: none;
    color: yellow;
}
nav {
    background-image: linear-gradient(to right, #09311f 1%, #28be78);
    display: flex;
    justify-content: center;
}
nav .btn a:link, nav .btn {
    background: none;
    border: none;
    color: yellow;
}
nav .btn a:hover, nav .btn:hover {
    color: lightyellow;
}
nav .OnlyLink {
    color: yellow;
    text-decoration: none;
}
main {
    margin-top: 100px;
}
main a:link, main a:visited {
    color: yellow;
}
main ol.LinksContainer {
    list-style-type: none;
    height: 0;
    width: 0;
    overflow: hidden;
    transition: height ease-out 350ms, width ease-in 350ms;
}
main .HoverForLinks .Links {
    color: yellow;
    font-size: 1rem;
    font-variant: normal;
    text-decoration: none;
    border: none;
}
.HoverForLinks {
    color: white;
    font-size: 1.2rem;
    font-variant: small-caps;
    text-decoration: none;
}
.HoverForLinks:hover {
    color: yellow;
    text-decoration: none;
    border-right: 2px solid yellow;
    border-left: 2px solid yellow;
}
.HoverForLinks:hover > ol.LinksContainer {
    height: 19rem;
    width: 200px;
    
}
main .Chapters {
    list-style-type: none;
    margin-top: 2rem;
}
main h3 {
    font-size: 1.75rem;
}
main ul li {
    list-style-type: circle;
    margin-bottom: 12px;
}
main b {
    color: yellow;
    font-variant: small-caps;
    font-size: 1.2rem;
}
main span.label {
    color: white;
    font-size: 0.95rem;
}
main .container {
    margin-bottom: 2rem;
}
main .container h2, h3{
    color: yellow;
    font-weight: normal;
    font-variant: small-caps;
}
main .container h3 {
    font-size: 1.5rem;
}
main .container p {
    /* color: white; */
    font-size: 1.25rem
}
/*Accordion styles*/
main .accordion-item {
    background-color: inherit;
    color: white;
}
main .accordion-item blockquote {
    font-size: 1.5rem;
    font-weight: 700;
}
main .accordion-item cite {
    font-size: 1.1rem;
    font-weight: 700;
}
main .accordion-item strong {
    color: yellow;
}
main .accordion-item .accordion-button {
    background-color: inherit;
    color: white;
    border: 2px solid white;
}

/*Footer styles*/
footer {
    background-image: none;
    color: yellow;
    font-variant: small-caps;
    text-align: center;
    margin-top: auto;
}
footer a {
    color: yellow;
    font-size: 1rem;
    text-decoration: none;
}
footer a:hover {
    color: rgb(255, 255, 148);
}

/*Utility Classes */
.capital {
    text-transform: uppercase;
}